.card__img__recomendacion{
    width: 100px;
    cursor: pointer;
}

.card__container{
    font-family: Lecsya !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section__recomendaciones{
    margin-top: 20px;
    padding-top: 40px;
    background-color: #EC1C24;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.card__recomendaciones{
    font-family: Lecsya !important;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid white;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    align-content: center;
    align-items: center;

}

.section__recomendaciones h2{
font-size: 2.5rem;
line-height: 24px;
box-sizing: border-box;
color: #fff ;
background-color: #1D1D1D;
padding: 10px;
font-family: Lecsya !important;
font-weight: bold;
}

.icon__recomendacion{
    cursor: pointer;
}



@media screen and (max-width:480px) {
   
    .section__recomendaciones h2{
        font-size: 2rem;
        
        }

    }