.nosotros__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.logo__animado{
    width: 500px;
    filter: drop-shadow(1px 1px 0.1px black);
   
    
}

.landing__nosotros{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cccccc;
  background-image: linear-gradient(#D40402, white);
}

.nosotros__container h3{
    width: 70%;
    text-align: center;
}

.nostros__text__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1000px;
    margin-right: 40px;
}

.acerca__card{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.acerca__card img{
    width: 500px;
    margin-right: 40px;
}

@media screen and (max-width:800px) {
    .nosotros__container{
        width: 100%;
       
    }

    .nostros__text__container{
        width: 300px;
        margin-right: 0px;
    }

    .acerca__card img{
        height: 300px;
        margin-right: 0px;
    }

    .acerca__card{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }