.item__carro{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid #74736E;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    color: black;
    margin-top: 5px;
}