.footer_container{
    background-color: #F8F8F8;
    color: #8f8f8f;
    font-family: Lecsya !important;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 400;
    line-height: 1.5;
    padding-top: 40px;
    padding-bottom: 40px;
}

::selection {
    color: #CECDBF;
    background: #EC1C24;
}

h4{
    font-size: 0.8rem;
}

.footer__info__items{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__info__items h4{
    margin-left: 5px;
}

.marketing{
    display: flex;
    flex-direction: row;
    width: 30%;
    height: max-content;
    align-items: center;
    align-content: center;
    

}

.marketing img{
    
    
    width: 110px;
    padding-bottom: 4px;
    filter: drop-shadow( 1px 1px 1px #000 );

}

.linea{
    background-color: #8f8f8f;
    padding: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
  
}

.footer__dibujos__contain img{
    height: 100px;
    width: max-content;
    margin-left: 40px;
    margin-right: 40px;
    }
    
    .footer__dibujos__contain{
        background-color: #EC1C24;
        display: flex;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 40px;
        flex-wrap: wrap;
    }
    
    .footer__marcas{
        background-color: #CECDBF;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        flex-wrap: wrap;
    
    }
    
    .footer__marcas img{
        width: 150px;
        height: max-content;
    }

@media screen and (max-width:840px) {
    .footer_container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .marketing{
        width: 50%;
        justify-content: center;
    }

    .footer__marcas {
        flex-wrap: wrap;

    }

    .footer__dibujos__contain{
        flex-wrap: wrap;
       
    }
    .footer__dibujos__contain img{
        height: 75px;
        margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
        
        }

    
    }

